{%load static%}
{% load omfilters %}
<li class="list-group-item py-3">
    {%for linha in carrinho.values %}
    <div class="row g-3 mt-2">
      <div class="col-4 col-md-3 col-lg-2">
        <a href="">
          <img src="{%get_media_prefix%}{{linha.imagem}}" class="img-thumbnail">
        </a>
      </div>
      <div class="col-8 col-md-9 col-lg-7 col-xl-8 text-left align-self-center">
        <h4>
         <b><a href="{%url 'produto:detalhe' linha.slug%}" class="text-decoration-none text-dark ">
          {{linha.produto_nome}}
         </a></b>
         <h5>
          {{linha.variacao_nome}}
         </h5>
        </h4>
      </div>
       <div class="col-6 offset-6 col-sm-6 offset-sm-6 col-md-4 offset-md-8 col-lg-3 offset-lg-0 col-xl-2 align-self-center mt-3 ">
        <div class="input-group">
          <button class="btn btn-outline-dark btn-sm" type="button">
            <i class="bi-caret-down" style="font-size: 16px; line-height: 24px;"></i>
          </button>
          <input type="text" class="form-control text-center border-dark" value="{{linha.quantidade}}" placeholder="Recipient's username" aria-label="Recipient's username with two button addons">
          
          <button class="btn btn-outline-dark btn-sm" type="button">
            <i class="bi-caret-up" style="font-size: 16px; line-height: 24px;"></i>
          </button>

          <button class="btn btn-outline-dark border-dark btn-sm"  type="button">
            <a style="color: rgb(255, 0, 0);" href="{%url 'produto:removerdocarrinho'%}?vid={{linha.variacao_id}}">
            <i class="bi-trash" style="font-size: 16px; line-height: 24px;"></i>
            </a>
          </button>
        </div>
          <div class="text-end mt-2">
            {%if linha.preco_unitario_promocional%}
            
            <small class="text-dark">Valor unitário: {{linha.preco_unitario_promocional|formata_preco}}</small>
            {%else%}
           
            <small class="text-dark">Valor unitário: {{linha.preco_unitario|formata_preco}}</small>

            {%endif%}

            {%if linha.preco_quantitativo_promocional%}
            
            <small class="text-dark"><br>Total: {{linha.preco_quantitativo_promocional|formata_preco}}</small>
            {%else%}
           
            <small class="text-dark"><br>Total: {{linha.preco_quantitativo|formata_preco}}</small>

            {%endif%}
          </div>
       </div>
    </div>
    {%endfor%}
    
  </li>