{% load static %}
<footer>
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <ul class="social-icon mb-4">
            <li>
              <a href="" target="_blank">
                <i class="bi-facebook"></i>
              </a>
            </li>
    
            <li>
              <a href="" target="_blank">
                <i class="bi-twitter"></i>
              </a>
            </li>
    
            <li>
              <a href="" target="_blank">
                <i class="bi-pinterest"></i>
              </a>
            </li>
    
            <li>
              <a href="" target="_blank">
                <i class="bi-instagram"></i>
              </a>
            </li>
          </ul>
        </div>
        <div class="col-md-6">
          <div class="newsletter">
            <span class="news-icon">
              <i class="bi bi-newspaper"></i>
            </span>
            <h4>Newslatter</h4>
            <p>Samia dostialkdolsadfjfpoijfdhssfdoipjfd
              gdsgdgddgssgd
              sggsdgsdgsdgsd
              sggsdgsd
            </p>
            <form>
              <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="button-addon2">
                <button class="btn btn-outline-secondary" type="button" id="button-addon2">Button</button>
              </div>
            </form>
          </div>
          <div class="footer-nav">
            <ul>
              <li><a href="">Página inicial</a></li>
              <li><a href="">Sobre nós</a></li>
              <li><a href="">Política de privacidade</a></li>
              <li><a href="">Termos e condições</a></li>
              <li><a href="">Atendimento</a></li>
              <li><a href="">Nossa feira </a></li>
            </ul>
          </div>
        </div>
        
        <div class="col-md-3">
          <div class="payment-icon-footer">
            <img src="{% static 'image/wirecard-selos-pequeno-horizontal.png'%}" alt="" class="img-fluid">
          </div>
        </div>
      </div>
    </div>
      </footer>

      <script src="{% static 'node_modules/jquery/dist/jquery.min.js'%}"></script>
<script src="{% static 'node_modules/bootstrap/dist/js/bootstrap.bundle.min.js'%}"></script>
<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'js/scripts.js' %}"></script>
